[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pygame = "==2.0.0-dev4"
opencv-contrib-python = "*"
PyOpenGL = "*"
PyOpenGL_accelerate = "*"
pyglm = "*"
pillow = "*"

[requires]
python_version = "3.7"
